@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

:root {
  --orange0: #faede8;
  --orange1: #f1dcd1;
  --orange2: #f3d7c9;
  --orange3: #eeccbb;
  --orange4: #ebc2ac;
  --orange5: #e4b69f;
  --orange6: #cd8764;
}


body {
  background: linear-gradient(to bottom, var(--orange6), var(--orange0));
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350x;
  margin: 60px auto 0 !important;
  text-align: center;
  font-size: 1.4rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.select-box {
  @apply p-2 mt-14 w-40 text-center h-12 rounded-full;
}

.card {
  @apply max-w-sm py-4 px-6 bg-white shadow-lg rounded-3xl my-20;
  scroll-behavior: smooth;
}

.card-summary::-webkit-scrollbar{
  width: 0.25rem;
}

.card-summary-webkit-scrollbar-track {
  background: #37374d;
}

.card-summary-webkit-scrollbar-thumb {
  background: #5b4792;
}

/* .choose {
  white-space: nowrap;
} */