

:root {
  --orange0: #ffffff;
  --orange1: #f1dcd1;
  --orange2: #ebcbbb;
  --orange3: #ebc9b8;
  --orange4: #ebc2ac;
  --orange5: #e9bfaa;
  --orange6: #e0ad93;
}


body {
  background: linear-gradient(to bottom, var(--orange5), var(--orange0));
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Fruktur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.select-box {
  @apply text-gray-700 p-2 w-80 text-center bg-transparent outline-none;
}

.select-box option {
  @apply text-gray-600;
}

.card {
  @apply py-4 px-6 bg-white shadow-lg rounded-3xl my-20;
  scroll-behavior: smooth;
  max-width: 350px;
  max-height: 500px;
}

.card-summary::-webkit-scrollbar{
  width: 0.25rem;
}

.card-summary-webkit-scrollbar-track {
  background: #37374d;
}

.card-summary-webkit-scrollbar-thumb {
  background: #5b4792;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}


@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.jobs-list {
  animation: fadeIn normal 1s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-button {
  @apply p-2 w-32 transition duration-200 ease-in-out transform hover:scale-110 bg-opacity-70 rounded-full font-bold text-white;
}